@{
    Layout = "_Company";
}

@model JobListViewModel
<form class="form-inline" asp-controller="Company" asp-action="HireJobManage" method="post">
    <div class="form-group mx-sm-3 mb-2">
    </div>

    <div class="form-group mb-2">
        <label>模糊查询</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input class="form-control" type="text" name="searchString" value="@ViewBag.SearchString" />
    </div>
    <button type="submit" class="btn btn-sm btn-primary mb-2">搜索</button>
</form>
<form asp-controller="Company" asp-action="HireJobDeleteSelected">
    <table style="width: 100%;">
        <tr>
            <th><input id="checkedAll" type="checkbox" asp-for="SelectedAll" onclick="selectAll()" /></th>
            <td>岗位</td>
            <td>薪水</td>
            <td>招聘状态</td>
            <td>招聘类型</td>
            <td>岗位类别</td>
            <td>最后修改</td>
            <td>操作</td>
        </tr>
        @for (int i = 0; i < Model.JobViewModels.Count; i++)
        {
    <tr>
        <td>
            <input class="itemCheck" type="checkbox" asp-for="@Model.JobViewModels[i].Selected" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].Id" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].Name" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].CompanyId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].JobCharacterId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].JobKindId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].JobPayId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].JobStatusId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].LocationId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].DegreeId" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].RecruitNumber" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].Description" />
            <input type="hidden" asp-for="@Model.JobViewModels[i].LastModify" />
        </td>
        <td>@Model.JobViewModels[i].Name</td>
        <td>@Model.JobViewModels[i].JobPay.Text</td>
        <td>@Model.JobViewModels[i].JobStatus.Text</td>
        <td>@Model.JobViewModels[i].JobCharacter.Text</td>
        <td>@Model.JobViewModels[i].JobKind.Text</td>
        <td>@Model.JobViewModels[i].LastModify.ToString("yyyy-MM-dd HH:mm")</td>
        <td>
            <a asp-controller="Company" asp-action="HireJobEdit" asp-route-id="@Model.JobViewModels[i].Id">修改</a>
            <a asp-controller="Company" asp-action="HireJobDelete" asp-route-id="@Model.JobViewModels[i].Id">删除</a>
        </td>
    </tr>
        }
    </table>
    <div class="form-inline row mt-3 pl-4">
        <a class="mr-2">全选</a>
        <a class="mr-2">反选</a>
        <button type="submit" class="btn btn-sm btn-primary">批量删除</button>
    </div>
</form>
<script>
    function selectAll() {
        var checkedAllBox = document.getElementById("checkedAll");
        var items = document.getElementsByClassName("itemCheck");
        for (var i = 0; i < items.length; i++) {
            items[i].checked = checkedAllBox.checked;
        }
    }
</script>
