@model ResumeSubmittedViewModel
@{
    ViewBag.Title = "简历审核";
    Layout = "_CompanyWithoutNav";
}
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

<!-- 拒收模态框（Modal） -->
<div class="modal fade" id="resumeRejectModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-sm-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">拒收简历</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ThinkAgain()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Hire" asp-action="HireResumeReview">
                <input type="hidden" asp-for="DeliverId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="StudentId" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="ForJobKindId" />
                <input type="hidden" asp-for="ForJobAddressId" />
                <input type="hidden" asp-for="ForJobCharacterId" />
                <input type="hidden" asp-for="ForJobPayId" />
                <input type="hidden" asp-for="Certificate" />
                <input type="hidden" asp-for="WorkExperience" />
                <input type="hidden" asp-for="SelfEvaluation" />
                <input type="hidden" asp-for="State" />
                <input type="hidden" asp-for="Visible" />
                <div class="modal-body form-group row">
                    <div class="col-sm-12">
                        拒收后不能再通过该简历发送面试通知，确定拒收该简历吗？
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ThinkAgain()">再想想</button>
                    <button type="submit" class="btn btn-danger">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 通过模态框（Modal） -->
<div class="modal fade" id="passModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mt-sm-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">通过</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ThinkAgain()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Hire" asp-action="HireResumeReview">
                <input type="hidden" asp-for="DeliverId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="StudentId" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="ForJobKindId" />
                <input type="hidden" asp-for="ForJobAddressId" />
                <input type="hidden" asp-for="ForJobCharacterId" />
                <input type="hidden" asp-for="ForJobPayId" />
                <input type="hidden" asp-for="Certificate" />
                <input type="hidden" asp-for="WorkExperience" />
                <input type="hidden" asp-for="SelfEvaluation" />
                <input type="hidden" asp-for="State" />
                <input type="hidden" asp-for="Visible" />
                <div class="modal-body form-group">
                    <input id="passed" type="hidden" asp-for="Pass" />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="InterviewDate"></label>
                        <div class="col-sm-10">
                            <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker5" asp-for="InterviewDate"/>
                                <div class="input-group-append" data-target="#datetimepicker5" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="NotifyTitle"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="NotifyTitle" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="InterviewLocation"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="InterviewLocation" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="InterviewNote"></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" asp-for="InterviewNote" rows="3"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal" onclick="ThinkAgain()">再想想</button>
                    <button type="submit" class="btn btn-success">发送通知</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mt-4" style="min-height: 500px">
    <article class="container">
        <section class="side" id="side">
            <!-- 基本信息 -->
            <section class="info-unit">
                <h2>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    基本信息
                </h2>
                <hr />
                <ul>
                    <li>
                        <label>个人信息</label>
                        <span>@Model.Student.Name / @Model.Student.Sex / @(DateTime.Now.Year - Model.Student.Birthday.Year)岁</span>
                    </li>
                    <li>
                        <label>政治面貌</label>
                        <span>@Model.Student.PoliticalOutlook.Text</span>
                    </li>
                    <li>
                        <label>最高学历</label>
                        <span>@Model.Student.Degree.Text</span>
                    </li>
                    <li>
                        <label>岗位类型</label>
                        <span>@Model.ForJobKind.Text</span>
                    </li>
                    <li>
                        <label>求职类型</label>
                        <span>@Model.ForJobCharacter.Text</span>
                    </li>
                    <li>
                        <label>工作地点</label>
                        <span>@Model.ForJobAddress.Text</span>
                    </li>
                    <li>
                        <label>期望薪水</label>
                        <span>@Model.ForJobPay.Text</span>
                    </li>
                </ul>
            </section>

            <!-- 联系方式 -->
            <section class="contact info-unit">
                <h2>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                    </svg>
                    联系方式
                </h2>
                <hr />
                <ul>
                    <li>
                        <label>手机</label>
                        <a href="tel:@Model.Student.Phone" target="_blank">@Model.Student.Phone</a>
                    </li>
                    <li>
                        <label>邮箱</label>
                        <a href="mailto:@Model.Student.Mail" target="_blank">@Model.Student.Mail</a>
                    </li>
                </ul>
            </section>

        </section>

        <section class="main">
            <h1>@Model.Title</h1>
            <!-- 教育经历 -->
            <section class="edu info-unit">
                <h2>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                    教育经历
                </h2>
                <hr />
                <ul>
                    <li>
                        <h3>
                            <span>@Model.Student.College - @Model.Student.Major（@Model.Student.Degree.Text）</span>
                            <time>@Model.Student.StudyDate.ToString("yyyy.M")-201X.7</time>
                        </h3>
                        <p>
                            @*专业排名
                                <mark>X/XX</mark>，期间发表国际会议英文摘要X篇，国内核心期刊文章X篇（其中第一作者X篇），获XXX，XXX2次，XXX2次。*@
                            @Model.Certificate
                        </p>
                    </li>
                </ul>
            </section>

            <!-- 工作经历 -->
            <section class="work info-unit">
                <h2>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v1.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
                    </svg>
                    工作经历
                </h2>
                <hr />
                <ul>
                    <li>
                        @(string.IsNullOrEmpty(Model.WorkExperience) ? "无" : Model.WorkExperience)
                    </li>
                </ul>
            </section>

            <!-- 自我评价 -->
            <section class="work info-unit">
                <h2>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                    自我评价/期望
                </h2>
                <hr />
                <p>
                    @(string.IsNullOrEmpty(Model.SelfEvaluation) ? "无" : Model.SelfEvaluation)
                </p>
            </section>
        </section>
        @if (@Model.DeliverStatusId == 1)
        {
            <div class="form-group row justify-content-end mt-5">
                <a class="btn btn-secondary mr-3" data-toggle="modal" data-target="#resumeRejectModal" onclick="Refuse()" style="color: #fff!important">拒收</a>
                <a class="btn btn-success mr-3" data-toggle="modal" data-target="#passModal" onclick="Pass()" style="color: #fff!important">通过</a>
            </div>
        }
    </article>
</div>
<script>
    $(function() {
        $('#datetimepicker5').datetimepicker({
            viewMode: 'days',
            format: 'YYYY年MM月DD日 HH:mm'
        });
    });

    function Pass() {
        //console.log('通过');
        $("#passed").val('通过');
    }

    function Refuse() {
        //console.log('拒收');
        $("#passed").val('拒收');
    }

    function ThinkAgain() {
        //console.log('再想想');
        $("#passed").val('');
    }
</script>
